.header {
    height: 80vh;
    width: 100%;
    background-color: red;

    background-image: url("../images/adhy-savala-zbpgmGe27p8-unsplash.jpg");
    background-size: cover;
    background-origin: bottom;
}